*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common styles */
.bg-green{
    background-color: #30B868;
}
.text-white{
    color: #F7F6F2;
}
.text-green{
    color: #30B868;
}
.text-navy-blue{
    color: #001931;
}
.text-gray{
    color: #627382;
}
.bg-orange{
    background-color: #F95555;
}
.bg-cream{
    background-color: #F7F6F2;
}

.btn-green-small{
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-green-large{
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-transparent{
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.text{
    font-size: 16px;
    font-weight: 500;
}
.section-heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.section-heading-2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.sub-title{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.sub-title-2{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
.card-title{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.container{
    width: 85%;
    max-width: 1360px;
}

/* main styles */

/* Navbar Start */
nav{
    display: flex;
    margin: 0 auto; 
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;}
nav .logo{
    max-width: 139px;
}
nav .logo img{
    vertical-align: middle;
    width: 100%;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
/* Navbar End */

/* Banner Start */
#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 116px 120px 180px;
}
#banner .banner-content{
    margin: 0 auto;
    text-align: center;
}
.notice {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #FFFFFF;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
.banner-text{
    font-size: 18px;
    line-height: 24px;
    color: #F7F6F2;
    margin-bottom: 32px;
}
.banner-btn-1{
    margin-right: 16px;
}
/* Banner End */