*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common styles */
.bg-green{
    background-color: #30B868;
}
.text-white{
    color: #F7F6F2;
}
.text-green{
    color: #30B868;
}
.text-navy-blue{
    color: #001931;
}
.text-gray{
    color: #627382;
}
.bg-orange{
    background-color: #F95555;
}
.bg-cream{
    background-color: #F7F6F2;
}

.btn-green-small{
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-green-small:hover{
    color: #001931;
    background-color: #F95555;
}
.btn-green-large{
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-green-large:hover{
    color: #001931;
    background-color: #F95555;
}
.btn-transparent{
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 16.5px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.btn-transparent:hover{
    color: #001931;
    background-color: #30B868;
    border: none;
}

.text{
    font-size: 16px;
    font-weight: 500;
}
.section-heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.section-heading-2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.sub-title{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.sub-title-2{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
.card-title{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

.container{
    width: 85%;
    max-width: 1360px;
}

/* main styles */

/* Navbar Start */
nav{
    display: flex;
    margin: 0 auto; 
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;}
nav .logo{
    max-width: 139px;
}
nav .logo img{
    vertical-align: middle;
    width: 100%;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
/* Navbar End */

/* Banner Start */
#banner{
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 116px 120px 180px; */
    padding-top: 116px;
    padding-bottom: 180px;
}
#banner .banner-content{
    margin: 0 auto;
    text-align: center;
}
.notice {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #FFFFFF;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
}
.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
}
.banner-text{
    font-size: 18px;
    line-height: 24px;
    color: #F7F6F2;
    margin-bottom: 32px;
}
.banner-btn-1{
    margin-right: 16px;
}
/* Banner End */

/* Card Section Start */
#card-section .card-content{
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.card-content h2{
    margin-top: 32px;
    margin-bottom: 16px;
}
.card-content p{
    margin-bottom: 44px;
}

.cards{
    display: flex;
    gap: 24px;
}
.card{
    border-radius: 8px;
    padding: 70px 24px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
}
.card-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin: 0 auto;
}
.card-icon img{
    width: 32px;
    height: 32px;
}
.card h3{
    margin-bottom: 16px;
}
/* Card Section End */

/* Knowledge Section Start */
#knowledge{
    padding-top: 120px;
    padding-bottom: 120px;
}
#knowledge .knowledge-content{
    display: flex;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
}
.knowledge-img{
    max-width: 600px;
    max-height: 600px;
}
.knowledge-img img{
    width: 100%;
}
.knowledge-text h2, .sol{
    margin-bottom: 16px;
}
.knowledge-text p{
    margin-bottom: 40px;
}
li{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
/* Knowledge Section End */

/* think section start */
#think{
    margin-bottom: 120px;
}
#think .think-content{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 12px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.think-content h2{
    margin-bottom: 16px;
}
.think-content .think-p{
    margin-bottom: 24px;
}
.think-btn{
    margin-bottom: 16px;
}
/* think-more section end */

/* footer start */
#footer {
  background-color: #001931;
  padding-top: 120px;
  padding-bottom: 30px;
}

.footer-content {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;
}
.footer-align{               
  display: flex;                 
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
}

.footer-text p {
  color: #fff;
  margin-bottom: 12px;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
}
.footer-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-icons a {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;

  display: flex;                 
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.footer-icons a i {
  font-size: 12px;
  color: #001931;
}

.footer-content hr{
    color: #D9D9D9;
    font-size: 1px;
}
.copy-text{
    margin-top: 30px;
    /* padding-bottom: 30px; */
    font-size: 16px;
}

/* footer end */